body {
  background-color: #121212; /* Darker black for a more refined dark theme */
  color: #e0e0e0; /* Softer white for easier readability */
  font-family: 'Arial', sans-serif; /* Cleaner, modern font */
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.crypto-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #1f1f1f; /* Slightly lighter black for table contrast */
  border-radius: 10px;
  overflow: hidden;
}

.crypto-table th, .crypto-table td {
  border: none; /* Remove borders for a cleaner look */
  padding: 12px;
  text-align: center;
  cursor: pointer;
  color: #e0e0e0; /* Softer white */
}

.crypto-table th {
  background-color: #2b2b2b; /* Dark gray background for headers */
  font-weight: bold;
  text-transform: uppercase;
}

.crypto-table th.asc::after {
  content: '▲';
  margin-left: 5px;
  font-size: 0.8rem;
}

.crypto-table th.desc::after {
  content: '▼';
  margin-left: 5px;
  font-size: 0.8rem;
}

.crypto-table tr:nth-child(even) {
  background-color: #2a2a2a; /* Light gray rows for alternating background */
}

.crypto-table tr:hover {
  background-color: #3b3b3b; /* Highlighted row on hover */
}


.pagination {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.pagination li {
  list-style: none;
  margin: 0 5px;
}

.pagination li a {
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

/* .pagination li.active a {
  background-color: white;
  color: black;
} */

@media (max-width: 480px) {
  * {
    font-size: 0.9rem; /* Decrease font size for mobile */
  }

  .pagination li a {
    padding: 8px 10px; /* Adjust pagination buttons for mobile */
  }
}